<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".ImageToPDFApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageToPDF"
        tools:targetApi="31">
        
        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        
        <!-- Image Selection Activity -->
        <activity
            android:name=".ui.selection.ImageSelectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <!-- Image Preview Activity -->
        <activity
            android:name=".ui.preview.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.selection.ImageSelectionActivity" />
        
        <!-- PDF Files Activity -->
        <activity
            android:name=".ui.files.PDFFilesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity" />
            
        <!-- Compressor Activity -->
        <activity
            android:name=".ui.tools.CompressorActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.main.MainActivity" />
        
        <!-- FileProvider for sharing PDFs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest>
